@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Inter Variable";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter-variable-italic.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Commit Mono Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/commitmono-variable.woff2") format("woff2-variations");
}

@layer tokens {
  :root {
    --cursor-text: text;
    --cursor-default: default;
    --cursor-disabled: not-allowed;
    --cursor-interactive: pointer;

    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-regular: "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-monospace: "Commit Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;

    --padding-top: 172px;
    --content-width: 602px;
    --padding-top-mobile: 112px;

    --scrollbar-width: 6px;
    --scrollbar-track-color: var(--color-base);
    --scrollbar-thumb-color: var(--color-28);
    --scrollbar-thumb-color-hover: var(--color-30);

    --font-size-sm: 0.6875rem;
    --font-size-sm-plus: 0.75rem;
    --font-size-rg: 0.8125rem;
    --font-size-rg-plus: 0.875rem;
    --font-size-md: 1rem;
    --font-size-md-plus: 1.125rem;
    --font-size-lg: 1.5rem;
    --font-size-lg-plus: 2.75rem;

    --font-weight-rg: "wght" 450;
    --font-weight-rg-plus: "wght" 500;
    --font-weight-md: "wght" 550;
    --font-weight-md-plus: "wght" 600;

    --transition-slow: 0.2s;
    --transition-regular: 0.175s;
    --transition-fast: 0.075s;
    --transition-faster: 0.03s;
    
    --block-spacing: 18px;

    --h1-line-height: 1.1;
    --h2-line-height: 1.33;
    --h3-line-height: 1.33;
    --h4-line-height: 1.4;
    --h5-line-height: 1.7;
    --h1-letter-spacing: -0.022em;
    --h2-letter-spacing: -0.012em;
    --h3-letter-spacing: -0.012em;
    --h4-letter-spacing: -0.012em;
    --h5-letter-spacing: -0.012em;
    --paragraph-line-height: 1.7;
  }
}