@layer themes.dark {
  [data-theme="dark"] {
    color-scheme: dark;
    
    --text-color-full: oklch(1 0.0034 275);
    --text-color-extra: oklch(0.93 0.0034 275);
    --text-color-primary: oklch(0.86 0.0034 275);
    --text-color-secondary: oklch(0.79 0.0034 275);
    --text-color-tertiary: oklch(0.72 0.0034 275);
    --text-color-quaternary: oklch(0.65 0.0034 275);
    --text-color-quinary: oklch(0.58 0.0034 275);

    --color-base: oklch(0.165 0.0034 275);
    --color-cover: oklch(0.17 0.0034 275);

    --color-20: oklch(0.2 0.0034 275);
    --color-21: oklch(0.21 0.0034 275);
    --color-22: oklch(0.22 0.0034 275);
    --color-23: oklch(0.23 0.0034 275);
    --color-24: oklch(0.24 0.0034 275);
    --color-25: oklch(0.25 0.0034 275);
    --color-26: oklch(0.26 0.0034 275);
    --color-27: oklch(0.27 0.0034 275);
    --color-28: oklch(0.28 0.0034 275);
    --color-29: oklch(0.29 0.0034 275);
    --color-30: oklch(0.3 0.0034 275);
    --color-31: oklch(0.31 0.0034 275);
    --color-32: oklch(0.32 0.0034 275);
    --color-33: oklch(0.33 0.0034 275);
    --color-34: oklch(0.34 0.0034 275);
    --color-35: oklch(0.35 0.0034 275);

    --accent-color-primary: oklch(0.6257 0.1843 270.05);
    --accent-color-secondary: oklch(0.6270 0.1 264.71);

    --color-success: oklch(0.6257 0.1504 145.63);
    --color-warning: oklch(0.8442 0.1531 85.77);
    --color-error: oklch(0.5914 0.1896 15.62);
  }
}