@layer themes.light {
  [data-theme="light"] {
    color-scheme: light;
    
    --text-color-full: oklch(0.14 0.0034 275);
    --text-color-extra: oklch(0.3 0.0034 275);
    --text-color-primary: oklch(0.35 0.0034 275);
    --text-color-secondary: oklch(0.42 0.0034 275);
    --text-color-tertiary: oklch(0.49 0.0034 275);
    --text-color-quaternary: oklch(0.56 0.0034 275);
    --text-color-quinary: oklch(0.63 0.0034 275);

    --color-base: #fcfcfc;
    --color-cover: oklch(0.979 0.0034 275);

    --color-20: oklch(0.99 0.0034 0);
    --color-21: oklch(0.99 0.0034 0);
    --color-22: oklch(0.98 0.0034 0);
    --color-23: oklch(0.97 0.0034 0);
    --color-24: oklch(0.96 0.0034 0);
    --color-25: oklch(0.95 0.0034 0);
    --color-26: oklch(0.94 0.0034 0);
    --color-27: oklch(0.93 0.0034 0);
    --color-28: oklch(0.92 0.0034 0);
    --color-29: oklch(0.91 0.0034 0);
    --color-30: oklch(0.9 0.0034 0);
    --color-31: oklch(0.89 0.0034 0);
    --color-32: oklch(0.88 0.0034 0);
    --color-33: oklch(0.87 0.0034 0);
    --color-34: oklch(0.86 0.0034 0);
    --color-35: oklch(0.85 0.0034 0);

    --accent-color-primary: oklch(0.6257 0.1843 270.05);
    --accent-color-secondary: oklch(0.6270 0.1 264.71);

    --color-success: oklch(0.6257 0.1504 145.63);
    --color-warning: oklch(0.8442 0.1531 85.77);
    --color-error: oklch(0.5914 0.1896 15.62);
  }
}